main {
    display: flex;
    align-items: center;
    height: 846px;
}

.login {
    width: 100vw;
    background: var(--content__container);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login h1 {
    font-family: var(--silkscreen);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: var(--branco);
    margin: 30px 0 30px 0;
}

.login form {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.login label {
    font-family: var(--cinza-2C);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 48px;
    justify-content: center;
    margin-top: 15px;
}

.login label:nth-of-type(1) {
    margin-top: 30px;
}

.login input {
    width: 100%;
    height: 60px;
    padding: 15px 0 15px 35px;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
    border: none;
    border-radius: 6px;
    background: var(--branco);
}

.login input::placeholder {
    font-family: var(--lato);
    color: var(--cinza);
    font-size: 16px;
}

.login input[type=button] {
    width: 200px;
    height: 60px;
    margin: 30px auto 15px;
    background: var(--background);
    box-shadow: 2px 4px 4px rgba(0,0,0,0.25);
    text-align: center;
    font-weight: 900;
    color: var(--branco);
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: var(--branco);
    text-align: center;
    margin: 15px 0 30px 0;
}

@media screen and (min-width: 428px) {
    main {
        min-height: 924px;
        justify-content: center;
    }

    .login {
        width: 428px;
        box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
    }
}

@media screen and (min-width: 1024px) {
    main {
        min-height: 924px;
        justify-content: center;
    }

    .login {
        width: 428px;
        box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
    }
}
